.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.form-inputs {
  min-width: 50%;
  max-width: 50%;
}

.preview {
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.genres-section-create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .single-genre-create > button {
    font-family: "Be Vietnam Pro", serif;
    width: 9vw;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--bg-color-secondary);
    font-size: 1em;
    cursor: pointer;
    color: var(--text-color);
    border-color: var(--primary-color);
    transition: .3s;
  }
  
  .single-genre-create > button:hover {
      background-color: var(--primary-color);
    }

.create-plot {
  max-width: 70%;
}

.imdb-create{
  display: flex;
  flex-direction: row;
}

.imdb-create input {
  font-family: "Be Vietnam Pro", serif;
  width: 6vw;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-block: 0.7em;
  background-color: var(--bg-color-secondary);
  border: none;
  outline-color: var(--primary-color);
  color: var(--text-color);
  transition: 0.3s;
  text-align: center;
  margin-inline: 10px;
}

.imdb-create input:focus {
  transition: 0.3s;
  outline: 1px solid var(--primary-color);
}
